@page "/Saved"
@using Radzen;
@using WebAppNasaApi.Models.ImagesLibrary;
@using Radzen.Blazor
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager;


@code {
    [Parameter]
    public List<NasaImageModel> listImageModel { set; get; }
    Variant variant = Variant.Filled;

}
@if (listImageModel.Count() > 0)
{ 
<h3>Imagenes guardadas: @listImageModel.Count()</h3>
    <RadzenRow JustifyContent="JustifyContent.Center">
    @foreach(var item in listImageModel)
    {
        <RadzenColumn Style="margin:0">

   
        <RadzenCard Variant="@variant" class="rz-my-12" Style="max-width: 350px">
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-p-4">
                <RadzenImage Path="@item.href" Style="width: 200px; height: 200px; border-radius: 10%;margin: auto;" />
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-display-flex rz-mt-2 rz-my-0">@item.title</RadzenText>
                </RadzenStack>
                        

            </RadzenStack>
        </RadzenCard>
                
    </RadzenColumn>
    }
    </RadzenRow>

}
else
{
    <div class="text-center">
        <RadzenText TextStyle="TextStyle.H3">There arent any to show here :/</RadzenText>
    </div>
}


