@page
@model WebAppNasaApi.Pages.ApodViewModel
@{
    
}

<h1>@Model.DataApod.title</h1>

<figure>
    <img style="height:500px; width:auto;" src="@Model.DataApod.url"/>
</figure>

<p>@Model.DataApod.explanation</p>



