@page
@model WebAppNasaApi.Pages.EpicModel

<div class="text-center">
    <div class="row">
        <div class="col-3">
            <div class="container-inputs p-3" style="width:18rem;">
                <form method="post">
                    <div class="row mb-3">
                        <div class="col">
                            <input type="date" class="form-control" id="date-epic" name="date-epic"
                                   min="2015-09-01" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-success">Ver imagen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-9">
            @if (ViewData["IsPost"] is true)
            {
                if (Model.epicImages.Any())
                {
                    <figure>
                        <img src="@Model.ImageURL" />
                        <figcaption>@Model.epicImages[0].caption</figcaption>
                    </figure>


                   @* foreach (var picture in Model.epicImages)
                    {
                        <figure>
                            <img src="string.concat('https://epic.gsfc.nasa.gov/archive/natural/2015/10/31/png/', @picture.image, '.png')" />
                            <figcaption>@picture.caption</figcaption>
                        </figure>
                    }*@

                }
                else
                {
                    <p>There are not any result, try again using antoher date</p>
                }
            }
            else
            {
                <h1>Select a date and then, see here the earth where you live now.</h1>
            }



        </div>
    </div>
    
</div>
