@page
@using Newtonsoft.Json;
@model WebAppNasaApi.Pages.ImageVideosModel

<div class="text-center mb-3">
    <h1>Imagenes</h1>
    <form method="post">
       <input type="text" class="form-control mx-auto" name="input-search-image" placeholder="Buscar..."
               style="width:500px; padding:0; display:inline;"/>
        <button type="submit" name="submitButton" class="btn btn-primary"
        value="searchbutton">Buscar</button>
    </form>
    @if (ViewData["is_post"] is true)
    {
        <p>@Model.image_list.Count() Resultado/s de busqueda sobre
            "@Model.input_search"</p>
    }
</div>

<div class="imagen-grid">
    @if (Model.image_list.Any())
    {
        foreach (var item in Model.image_list)
        {
            @*var json = JsonConvert.SerializeObject(item);*@
            <div class="imagen-item">
                <a asp-page="/ImageDetails" asp-route-nasa_id=@item.nasa_id>
                    <img src="@item.href" class="card-img-top" alt="...">
                </a>
                <div class="imagen-titulo">@item.title</div>
            </div>
        }
    }
</div>

