@page
@model WebAppNasaApi.Pages.SavedModel
@using Radzen
@using Radzen.Blazor
@using WebAppNasaApi.Pages.Components;

@{
}

<section class="text-center">
    <h1>Saved Data</h1>
</section>

<section class="justify-content-center">

    <component type="typeof(SavedImagesDB)" render-mode="ServerPrerendered"
                param-listApodDB="@Model.list_apod" />

    <component type="typeof(SavedModelImageDB)" render-mode="ServerPrerendered"
               param-listImageModel="@Model.list_image_model" />

</section>